<h1>User info</h1>
<% if @user.errors.any? %>
        <%= @user.errors.count %>件のエラーが発生しました
        <% @user.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>

<%= form_for(@user) do |user| %>
<%= user.label :Name %>
<%= user.text_field :name %><br>

<%= user.label :Image %><br>
<%= user.attachment_field :profile_image %><br>

<%= user.label :Introduction %><br>
<%= user.text_area :introduction %><br>

<%= user.submit "Update User" %>
<% end %>