<h1>User info</h1>

<%= form_for(@user) do |user| %>
<%= user.label :Name %>
<%= user.text_field :name %><br>

<%= user.label :Image %><br>
<%= user.attachment_field :profile_image %><br>

<%= user.label :Introduction %><br>
<%= user.text_area :introduction %><br>

<%= user.submit "Update User" %>
<% end %>