<h1>Editing Book</h1>

<%= form_for(@book) do |book| %>
 <% if @books.errors.any? %>
        <%= @books.errors.count %>件のエラーが発生しました
        <% @books.errors.full_messages.each do |message| %>
            <%= message %>
        <% end %>
    <% end %>
<%= book.label :Title %>
<%= book.text_field :title %><br>

<%= book.label :Opinion %><br>
<%= book.text_area :body %><br>

<%= book.submit "Update Book", class: "btn btn-primary" %>
<% end %>

<%= link_to "Show", book_path %>
<%= link_to "Back", books_path %>